h1 {    /*box-level*/
    background-color: lightgray;
    height: 300px;
    width: 600px;
    text-align: center;

    border: 10px solid darkslategray;   /*shorthand border*/

    /*
    border-width: 10px;
    border-style: solid;
    border-color: darkslategray;
    */

    padding: 10px 10px 10px 10px;   /*shorthand padding*/

    /*
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    */

    margin: 10px auto 40px auto;    /*shorthand margin*/

    /*
    margin-top: 10;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    */

    outline: 5px dashed salmon;     /*sharthand outline*/

    /*
    outline-width: 5px;
    outline-style: dashed;
    outline-color: salmon;
    */
}

a {     /*box inline*/
    border: 2px solid gray;
    /*
    border-width: 2px;
    border-style: solid;
    border-color: red;
    */

    padding: 2px;
    /*
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    */
}