body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F0F0;
    color: #333;
    padding: 1em;
}

h1 {
    color: #4CAF50;
    text-align: center;
}

.box {
    width: 300px;
    padding: 1em;
    border: 5px solid #FF5733;
    margin: 20px auto;
    background-color: #FFD700;
}

