@font-face {
    font-family: 'Pokemon Hollow';
    src: url(fonts/Pokemon\ Hollow.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sketch';
    src: url(fonts/Sketch\ 3D.otf) format('opentype'),
         url(fonts/Sketch\ 3D.woff);
    font-weight: normal;
    font-style: normal;
}

/*
    Tipos de format():
    - opentype (otf)
    - truetype (ttf)
    - embedded-opentype
    - truetepe-aat (Apple Advanced Typography)
    - svg
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Sketch', Times, serif;
    font-size: 5em;
}

h2 {
    font-family: 'Pokemon Hollow', Times, serif;
    font-size: 3em;
}