body {
    margin: 0;
}

main {
    padding: 20px;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgreen;
    margin-right: 20px;
}

a {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 20px;
}